{#
| Variable                       | Type    | Description                                                                  |
|--------------------------------|---------|------------------------------------------------------------------------------|
| component                      | object  | Contains merchant settings for fields from twilight.json `component` section |
| component.brands               | Brand[] | list of selected brands @see views/pages/brands/single.twig                  |
| position                       | int     | Sorting number start from zero                                               |
#}
{% if component.brands|length %}
{% set display_all_url = theme.settings.get('is_more_button_enabled') %}
<section class="s-block rkn-brands-block">
    <div class="container">
        {% if component.title or display_all_url %}
            <div class="rkn-sechead">
                {% if component.title %}<h2 class="rkn-sectitle">{{ component.title }}</h2>{% endif %}
                {% if display_all_url %}
                    <a href="{{ link('brands') }}" class="rkn-morelink">
                        {{ trans('blocks.home.display_all') }}
                        <i class="sicon-arrow-left-1 rtl:inline-block ltr:hidden"></i>
                        <i class="sicon-arrow-right-1 ltr:inline-block rtl:hidden"></i>
                    </a>
                {% endif %}
            </div>
        {% endif %}

        <salla-slider type="carousel" controls-outer id="rkn-brands-{{ position }}">
            <div slot="items">
                {% for brand in component.brands %}
                    <div class="swiper-slide rkn-brand-slide">
                        <a href="{{ brand.url }}" class="rkn-brand-tile" aria-label="{{ brand.name }}">
                            <img src="{{ brand.logo }}" width="160" height="80" loading="lazy" alt="{{ brand.name }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </salla-slider>
    </div>
</section>
{% endif %}
