{#
    Photo Gallery (Theme Component: home.gallery)
    RKN storefront image grid.
#}
{% if component.images is not empty %}
    <section class="rkn-block rkn-gallery" aria-label="{{ component.title|default(trans('home.gallery.default_title')) }}">
        <div class="container">
            {% if component.title %}
                {% include 'partials.home.section-head' with {
                    title: component.title
                } %}
            {% endif %}

            <div class="rkn-gallery__grid">
                {% for item in component.images %}
                    {% set tag = item.url ? 'a' : 'div' %}
                    <{{ tag }}
                        class="rkn-gallery__item"
                        {% if item.url %}href="{{ item.url }}"{% endif %}
                        data-reveal
                    >
                        <img
                            src="{{ item.image }}"
                            alt="{{ item.caption|default('') }}"
                            loading="lazy"
                            width="400"
                            height="400"
                        >
                        {% if item.caption %}
                            <span class="rkn-gallery__caption">{{ item.caption }}</span>
                        {% endif %}
                    </{{ tag }}>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}
